Body {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 250);
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 100px auto 20px;
  font-size: 200%;
  color: rgb(29, 29, 29);
  width: 90%;
  justify-content: center;
  text-align: center;
}

h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 115%;
  color: white;
  width: 80%;
  margin: 20px auto;
  justify-content: center;
  text-align: center;
}

.bayImg {
  width: 100%;
  max-width: 900px;
  min-width: 400px;
  padding: 0;
}

.beachImg {
  width: 300px;
  height: 500px;
  margin: 10px;
  justify-content: center;
}

.beachIMGL {
  z-index: 3;
}

.content {
  justify-content: center;
  align-items: center;
  flex: 25%;
}

.details {
  background: rgb(46, 164, 199);
  background: linear-gradient(
    90deg,
    rgb(24, 70, 84) 0%,
    rgb(130, 195, 212) 100%
  );
  margin: 10px 0 0 0;
  height: 100%;
  justify-content: center;
  padding: 12px;
}

.detailsButton {
  background-color: #82c3d4;
  border-radius: 5px;
  color: white;
  font-size: 24;
  width: 150px;
  border-color: #82c3d4;
  padding: 15px;
  margin: 1px;
}

.footerLink {
  color: rgb(130, 195, 212);
  margin: 10px;
}
.bottom {
  padding: 10px;
  color: #ccc;
  background-color: #333;
  text-align: center;
}

.projectsButton {
  background-color: white;
  border-radius: 5px;
  color: rgb(29, 29, 29);
  font-size: 24;
  width: 150px;
  padding: 15px;
  margin: 1px;
}
.description {
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
  font-family: Geneva, Verdana, sans-serif;
  display: block;
  padding: 15px;
  text-align: justify;
  background-color: white;
  color: rgb(29, 29, 29);
  height: 320px;
  width: 400px;
  right: 50px;
  top: 200px;
  border: black 3px;
  box-shadow: 1px 0 5px #ccc;
}

.descriptionIntro {
  font-size: 12px;
}

.descriptionWow {
  color: rgb(0, 0, 0);
  font-size: 22px;
}
.descriptionHr {
  color: yellow;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  top: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.topnav a {
  float: left;
  top: 0;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
